In [17]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [15]:
county_file = "county_facts.csv"
county_df = pd.read_csv(county_file)

#Run a count to check data
county_df.count()
#Seems we're missing a 52 state abbreviations.
#checked the data, state abbreviations are missing for areas that are already state names (ie-alabama)

fips                  3195
area_name             3195
state_abbreviation    3143
PST045214             3195
PST040210             3195
PST120214             3195
POP010210             3195
AGE135214             3195
AGE295214             3195
AGE775214             3195
SEX255214             3195
RHI125214             3195
RHI225214             3195
RHI325214             3195
RHI425214             3195
RHI525214             3195
RHI625214             3195
RHI725214             3195
RHI825214             3195
POP715213             3195
POP645213             3195
POP815213             3195
EDU635213             3195
EDU685213             3195
VET605213             3195
LFE305213             3195
HSG010214             3195
HSG445213             3195
HSG096213             3195
HSG495213             3195
HSD410213             3195
HSD310213             3195
INC910213             3195
INC110213             3195
PVY020213             3195
BZA010213             3195
BZA110213             3195
BZA115213             3195
NES010213             3195
SBO001207             3195
SBO315207             3195
SBO115207             3195
SBO215207             3195
SBO515207             3195
SBO415207             3195
SBO015207             3195
MAN450207             3195
WTN220207             3195
RTN130207             3195
RTN131207             3195
AFN120207             3195
BPS030214             3195
LND110210             3195
POP060210             3195
dtype: int64

In [3]:
county_df.columns

Index(['fips', 'area_name', 'state_abbreviation', 'PST045214', 'PST040210',
       'PST120214', 'POP010210', 'AGE135214', 'AGE295214', 'AGE775214',
       'SEX255214', 'RHI125214', 'RHI225214', 'RHI325214', 'RHI425214',
       'RHI525214', 'RHI625214', 'RHI725214', 'RHI825214', 'POP715213',
       'POP645213', 'POP815213', 'EDU635213', 'EDU685213', 'VET605213',
       'LFE305213', 'HSG010214', 'HSG445213', 'HSG096213', 'HSG495213',
       'HSD410213', 'HSD310213', 'INC910213', 'INC110213', 'PVY020213',
       'BZA010213', 'BZA110213', 'BZA115213', 'NES010213', 'SBO001207',
       'SBO315207', 'SBO115207', 'SBO215207', 'SBO515207', 'SBO415207',
       'SBO015207', 'MAN450207', 'WTN220207', 'RTN130207', 'RTN131207',
       'AFN120207', 'BPS030214', 'LND110210', 'POP060210'],
      dtype='object')

In [37]:
#Clean up data set by picking interesting columns for analysis

#To do: create new for male persons, percent, 2014?
#GroupBy state for analysis later?

county_cols = ['fips', 'state_abbreviation','area_name','PST045214','POP010210','SEX255214','RHI125214','RHI225214',
               'RHI325214','RHI425214','RHI525214','RHI625214','RHI725214','RHI825214','EDU635213','EDU685213','PVY020213']
county_transformed= county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={'fips':'Fips Code', 
                                                        'state_abbreviation':'State',
                                                        'area_name':'County',
                                                        'PST045214':'Population, 2014 estimate',
                                                        'POP010210':'Population, 2010',
                                                        'SEX255214':'Percent of Females, 2014',
                                                        'RHI125214':'Percent of Whites, 2014',
                                                        'RHI225214':'Percent of Black or African Americans, 2014',
                                                        'RHI325214':'Percent of American Indian',
                                                        'RHI425214':'Percent of Asians, 2014',
                                                        'RHI525214':'Percent of Native Hawaiian or Paceific Islander, 2014',
                                                        'RHI625214':'Percent of Mixed Races, 2014',
                                                        'RHI725214':'Percent of Hispanic or Latino, 2014',
                                                        'RHI825214':'White alone, not Hospanic or Lartino, 2014',
                                                        'EDU635213':'Percent of HS grads age 25+, 2009-2013',
                                                        'EDU685213':'Percent of bachelor degrees, age 25+, 2008-2013',
                                                        'PVY020213':'Percent of people living below the povery line, 2009-2013'})


county_transformed.head()

,Fips Code,State,County,"Population, 2014 estimate","Population, 2010","Percent of Females, 2014","Percent of Whites, 2014","Percent of Black or African Americans, 2014",Percent of American Indian,"Percent of Asians, 2014","Percent of Native Hawaiian or Paceific Islander, 2014","Percent of Mixed Races, 2014","Percent of Hispanic or Latino, 2014","White alone, not Hospanic or Lartino, 2014","Percent of HS grads age 25+, 2009-2013","Percent of bachelor degrees, age 25+, 2008-2013","Percent of people living below the povery line, 2009-2013"
0,0,NaN,United States,318857056,308745538,51,77,13,1e+00,5e+00,2e-01,2e+00,17,62,86,29,15
1,1000,NaN,Alabama,4849377,4779736,52,70,27,7e-01,1e+00,1e-01,2e+00,4,66,83,23,19
2,1001,AL,Autauga County,55395,54571,51,78,19,5e-01,1e+00,1e-01,2e+00,3,76,86,21,12
3,1003,AL,Baldwin County,200111,182265,51,87,10,7e-01,9e-01,1e-01,2e+00,5,83,89,28,14
4,1005,AL,Barbour County,26887,27457,47,50,48,6e-01,5e-01,2e-01,9e-01,4,47,74,13,27

In [8]:
primary_file = "primary_results.csv"
primary_df = pd.read_csv(primary_file)

#run a count to check the data
primary_df.count()

#Seems we are missing 100 fips. 
#Shouldn't be an issue because those areas just don't have fips apparently

state                 24611
state_abbreviation    24611
county                24611
fips                  24511
party                 24611
candidate             24611
votes                 24611
fraction_votes        24611
dtype: int64

In [26]:
#Clean up data set by picking interesting columns for analysis

primary_cols = ['fips','state_abbreviation','county','party','candidate','votes']
primary_transformed = primary_df[primary_cols].copy()

# Rename the column headers, standardize between last dataframe and this one
primary_transformed = primary_transformed.rename(columns={'fips':'Fips Code',
                                                         'state_abbreviation':'State',
                                                         'county':'County',
                                                         'party':'Political Party',
                                                         'candidate':'Candidate',
                                                         'votes':'Votes'})

#Show new dataframe, set precision to 0 to leave out decimals
pd.set_option('precision', 0)
primary_transformed.head()

   Fips Code State   County Political Party        Candidate  Votes
0       1001    AL  Autauga        Democrat   Bernie Sanders    544
1       1001    AL  Autauga        Democrat  Hillary Clinton   2387
2       1003    AL  Baldwin        Democrat   Bernie Sanders   2694
3       1003    AL  Baldwin        Democrat  Hillary Clinton   5290
4       1005    AL  Barbour        Democrat   Bernie Sanders    222

In [31]:
#Load to Postgres. Make sure to have a database already created there. In this case, the database was named votes_db.
rds_connection_string = "postgres:<password>@localhost:5432/votes_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [42]:
engine.table_names()

['County_Demographics', 'Primary_Votes']

In [39]:
county_transformed.to_sql(name='County_Demographics', con=engine, if_exists='append', index=False)

In [40]:
primary_transformed.to_sql(name='Primary_Votes', con=engine, if_exists='append', index=False)

In [44]:
pd.read_sql_query('select * from "County_Demographics"', con=engine).head()

,Fips Code,State,County,"Population, 2014 estimate","Population, 2010","Percent of Females, 2014","Percent of Whites, 2014","Percent of Black or African Americans, 2014",Percent of American Indian,"Percent of Asians, 2014","Percent of Native Hawaiian or Paceific Islander, 2014","Percent of Mixed Races, 2014","Percent of Hispanic or Latino, 2014","White alone, not Hospanic or Lartino, 2014","Percent of HS grads age 25+, 2009-2013","Percent of bachelor degrees, age 25+, 2008-2013","Percent of people living below the povery line, 2009-2013"
0,0,None,United States,318857056,308745538,51,77,13,1e+00,5e+00,2e-01,2e+00,17,62,86,29,15
1,1000,None,Alabama,4849377,4779736,52,70,27,7e-01,1e+00,1e-01,2e+00,4,66,83,23,19
2,1001,AL,Autauga County,55395,54571,51,78,19,5e-01,1e+00,1e-01,2e+00,3,76,86,21,12
3,1003,AL,Baldwin County,200111,182265,51,87,10,7e-01,9e-01,1e-01,2e+00,5,83,89,28,14
4,1005,AL,Barbour County,26887,27457,47,50,48,6e-01,5e-01,2e-01,9e-01,4,47,74,13,27

In [45]:
pd.read_sql_query('select * from "Primary_Votes"', con=engine).head()

   Fips Code State   County Political Party        Candidate  Votes
0       1001    AL  Autauga        Democrat   Bernie Sanders    544
1       1001    AL  Autauga        Democrat  Hillary Clinton   2387
2       1003    AL  Baldwin        Democrat   Bernie Sanders   2694
3       1003    AL  Baldwin        Democrat  Hillary Clinton   5290
4       1005    AL  Barbour        Democrat   Bernie Sanders    222